html,
body,
#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: #fff;
}

html, body {
  font-family: arial, helvetica;
}

h2 {
  font-weight: 100;
  opacity: 0.5;
  font-size: 1rem;
  margin-top: 1rem;
}

select {
  background: transparent;
  color: inherit;
}

option {
  background: var(--prism-background);
  color: var(--prism-foreground);
}

.font-mono {
  font-family: var(--prism-font-family) !important;
}

.border-light {
  border-color: rgba(125,125,125,0.1);
}
