
:root {
  --prism-foreground: #393a34;
  --prism-background: #f8f8f8;
  --prism-selection-background: #c1def1;

  --prism-comment: #b8c4b8;
  --prism-namespace: #c96880;
  --prism-string: #ad7863;
  --prism-punctuation: #8e8f8b;
  --prism-literal: #36acaa;
  --prism-keyword: #248459;
  --prism-function: #849145;
  --prism-deleted: #9a050f;
  --prism-class: #2b91af;
  --prism-builtin: #800000;
  --prism-property: #c0836b;
  --prism-regex: #ad502b;
}

html, body {
  padding: 1rem;
  font-family: arial,helvetica;
}

h2 {
  font-weight: 100;
  opacity: 0.5;
  font-size: 1rem;
  margin-top: 1rem;
}
